@import '../../Style/variable';

// NoticeBar
$noticebar-height: 30px;
$noticebar-line-height: 24px;
$noticebar-padding: 16px;
$noticebar-text-color: var(--second-primary-color);
$noticebar-font-size: var(--font-size-sm);
$noticebar-font-weight: var(--font-weight-bold);
$noticebar-bg: #ffefe5;
//   $noticebar-link-width: 40px;
$noticebar-icon-min-width: 24px;
