.jing-button {
    // display: block;
    // width: 100%;
    height: 2.75rem;
    line-height: 2.75rem;
    margin-left: 3%;
    padding: 0 1rem;
    // padding: 0 16px;
    position: relative;
    border: 1px solid transparent;
    float: left;
    border-radius: 0.5rem;
    background-color: #fff;
    font-size: $am-l;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    // @extend .text-center;
    outline: none;
    &:first-child {
        margin-left: 0 !important;
    }
    &--disable,
    &--disable:active {
        border: 0 !important;
        background: rgb(220, 220, 220) !important;
        color: #fff !important;
        cursor: not-allowed !important;
    }
    &--sm {
        height: 1.25rem;
        line-height: 1.25rem;
        margin-left: 3%;
        font-size: $am-xs;
    }
    &--block {
        border: none !important;
    }
    &--sm {
        &.jing-button--loading:before {
            width: 1.07rem;
            height: 1.07rem;
            margin-left: -0.535rem;
        }
    }
    &--blue {
        border-color: $globalColorBlue;
        color: $globalColorBlue;
        &:after,
        &:before {
            background-color: $globalColorBlue;
        }
    }
    &--blue {
        &.jing-button--block {
            background-color: $globalColorBlue;
            color: #fff !important;
        }
    }
    &--blue {
        &.jing-button--active {
            background-color: lighten($globalColorBlue, 42%);
        }
    }
    &--blue {
        &.jing-button--block {
            &.jing-button--active {
                background-color: darken($globalColorBlue, 5%);
                color: #fff;
                &:after,
                &:before {
                    background-color: darken($globalColorBlue, 5%);
                }
            }
        }
    }
    &--orange {
        border-color: $globalColorOrange;
        color: $globalColorOrange;
        &:after,
        &:before {
            background-color: $globalColorOrange;
        }
    }
    &--orange {
        &.jing-button--block {
            background: $globalColorOrangeGradient;
            color: #fff !important;
        }
    }
    &--orange {
        &.jing-button--active {
            background-color: lighten($globalColorOrange, 37%);
        }
    }
    &--orange {
        &.jing-button--block {
            &.jing-button--active {
                background: darken($globalColorOrange, 10%);
                &:after,
                &:before {
                    background-color: darken($globalColorOrange, 5%);
                }
            }
        }
    }
    &--green {
        border-color: $globalColorGreen;
        color: $globalColorGreen;
        &:after,
        &:before {
            background-color: $globalColorGreen;
        }
    }
    &--green {
        &.jing-button--block {
            background-color: $globalColorGreen;
            color: #fff !important;
        }
    }
    &--green {
        &.jing-button--active {
            background-color: lighten($globalColorGreen, 50%);
        }
    }
    &--green {
        &.jing-button--block {
            &.jing-button--active {
                background-color: darken($globalColorGreen, 5%);
                color: #fff;
                &:after,
                &:before {
                    background-color: darken($globalColorGreen, 5%);
                }
            }
        }
    }
    &--loading {
        position: relative;
        opacity: 0.75;
        cursor: wait !important;
        .loading {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2rem;
            height: 2rem;
            position: absolute;
            right: 0.125rem;
            top: 0.125rem;
            margin-top: -1px;
        }
    }
}
