@mixin jing-button--contained($color) {
  background: $color;
  color: $white-1;
}

.jing-button {
  border: 1px solid transparent;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  outline: none;
  &:first-child {
    margin-left: 0 !important;
  }
  &--contained {
    border: none !important;
  }
  &--contained {
    background-color: $button-while-color;
  }
  &--block {
    display: block;
    width: 100%;
  }
  &--disabled,
  &--disabled:active {
    border: 0 !important;
    background: $button-disable-color !important;
    color: $button-while-color !important;
    cursor: not-allowed !important;
  }
  &--md {
    height: $button-height-md;
    line-height: $button-line-height-md;
    border-radius: $button-radius-md;
    margin-left: $button-margin-md;
    font-size: $button-fize-md;
    padding: 0 $button-padding-md;
  }
  &--sm {
    height: $button-height-sm;
    line-height: $button-line-height-sm;
    border-radius: $button-radius-sm;
    margin-left: $button-margin-sm;
    font-size: $font-size-xs;
    padding: 0 $button-padding-sm;
  }
  &--blue {
    border-color: $button-blue-color;
    color: $button-blue-color;
    &:after,
    &:before {
      background-color: $button-blue-color;
    }
    &.jing-button--active {
      background-color: lighten($button-blue-color, 42%);
    }
    &.jing-button--contained {
      @include jing-button--contained($button-blue-color);
      &.jing-button--active {
        background-color: darken($button-blue-color, 5%);
        color: $button-while-color;
        &:after,
        &:before {
          background-color: darken($button-blue-color, 5%);
        }
      }
    }
    .jing-button__content {
      svg {
        circle {
          stroke: $button-while-color;
        }
      }
    }
  }
  &--orange {
    border-color: $button-orange-color;
    color: $button-orange-color;
    &:after,
    &:before {
      background-color: $button-orange-color;
    }
    &.jing-button--active {
      background-color: lighten($button-orange-color, 37%);
    }
    &.jing-button--contained {
      @include jing-button--contained($button-orange-color);
      &.jing-button--active {
        background: darken($button-orange-color, 10%);
        color: $button-while-color;
        &:after,
        &:before {
          background-color: darken($button-orange-color, 5%);
        }
      }
    }
    .jing-button__content {
      svg {
        circle {
          stroke: $button-while-color;
        }
      }
    }
  }
  &--green {
    border-color: $button-green-color;
    color: $button-green-color;
    &:after,
    &:before {
      background-color: $button-green-color;
    }
    &.jing-button--active {
      background-color: lighten($button-green-color, 50%);
    }
    &.jing-button--contained {
      @include jing-button--contained($button-green-color);
      &.jing-button--active {
        background-color: darken($button-green-color, 5%);
        color: $button-while-color;
        &:after,
        &:before {
          background-color: darken($button-green-color, 5%);
        }
      }
    }
    .jing-button__content {
      svg {
        circle {
          stroke: $button-while-color;
        }
      }
    }
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    &-span {
      margin-left: 8px;
    }
  }
  &--loading {
    opacity: 0.75;
    cursor: wait;
  }
}
