@mixin jing-button-group-count($size) {
    &.jing-button-group {
        justify-content: space-between;
    }
    .jing-button {
        width: calc((100% - 3% * ($size - 1)) / $size);
    }
}

.jing-button-group {
    &--default {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &--fixed-bottom {
        z-index: 10000;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: var(--button-fixed-bottom-bg);
        padding: var(--button-group-padding-h) var(--button-group-padding-v);
    }

    &--1 {
        @include jing-button-group-count(1);
    }

    &--2 {
        @include jing-button-group-count(2);
    }

    &--3 {
        @include jing-button-group-count(3);
    }

    &--4 {
        @include jing-button-group-count(4);
    }

    &--5 {
        @include jing-button-group-count(5);
    }

    &__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
