.CardBox {
    flex-direction: column;
    // height: 40px;
    line-height: inherit;
    // text-align: center;
    &__header {
        font-size: $am-xxl;
    }
    &__footer {
        font-size: var(--font-size-xs);
        color: var(--color-black-1);
    }
}
