
.jing-cell {
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 16px;
    overflow: hidden;
    color: #323233;
    font-size: 14px;
    line-height: 24px;
    background-color: #fff;
}

.jing-cell-group {
    background-color: #fff;
    &--inset {
        margin: 0 16px;
        overflow: hidden;
        border-radius: 8px;
    }
}
