.jing-cell {
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 16px;
    overflow: hidden;
    color: #323233;
    font-size: 14px;
    line-height: 24px;
    background-color: #fff;

    &::after {
        left: 16px !important;
        @include hairline-bottom(#ebedf0, 0, 0)
            // .hairline-bottom(@cell-border-color, @padding-md, @padding-md);
;
    }

    &--center {
        align-items: center;
    }

    &__icon {
        margin-right: 4px;
    }

    &__title,
    &__value {
        flex: 1;
    }

    &__value {
        position: relative;
        overflow: hidden;
        color: #969799;
        text-align: right;
        vertical-align: middle;
        word-wrap: break-word;
    }

    &__icon,
    &__link {
        height: 24px;
        font-size: 16px;
        line-height: 24px;
    }
}

.jing-cell-group {
    background-color: #fff;
    &--inset {
        margin: 0 16px;
        overflow: hidden;
        border-radius: 8px;
    }
    &__title {
        padding: 16px 16px 8px;
        color: #969799;
        font-size: 14px;
        line-height: 16px;
    }
}
