.DetailTop {
    @include background-shadow();
    margin: $global-horizontal-gap $global-vertical-gap 0;
    background: var(--color-white-1);
    text-align: center;
    padding: 1rem 0;
    &-bigtext {
        line-height: 1.5em;
        font-size: $am-xxxxl;
        overflow: hidden;
        &-orange {
            color: $globalColorOrange;
        }
        &-green {
            color: $globalColorGreen;
        }
    }
    &-text {
        display: block;
        line-height: 1.5em;
        font-size: $am-sm;
        padding-bottom: 4px;
    }
    &-desc {
        display: block;
        line-height: 1.5em;
        color: $globalColorBlack1;
        font-size: var(--font-size-xs);
        margin-bottom: 0;
    }
}
