.jing-divider {
    display: flex;
    align-items: center;
    margin: var(--divider-margin);
    color: var(--color-black-4);
    line-height: var(--divider-line-height);
    border-color: var(--divider-border-color);
    border-style: solid;
    border-width: 0;
    &::before,
    &::after {
        display: block;
        flex: 1;
        height: 1px;
        border-color: inherit;
        border-style: inherit;
        border-width: var(--border-width-base) 0 0;
    }
    &::before {
        content: '';
    }
    &--hairline {
        &::before,
        &::after {
            transform: scaleY(0.5);
        }
    }

    &--dashed {
        border-style: dashed;
    }

    &--content-center,
    &--content-left,
    &--content-right {
        &::before {
            margin-right: var(--divider-content-padding);
        }
        &::after {
            margin-left: var(--divider-content-padding);
            content: '';
        }
    }
    &--content-left {
        &::before {
            max-width: var(--divider-content-left-width);
        }
    }
    &--content-right {
        &::after {
            max-width: var(--divider-content-right-width);
        }
    }
}
