@mixin jing-input-placeholder {
    color: $placeholder-color !important;
    font-size: 14px;
}

@mixin jing-input() {
    width: 100%;
    height: calc(#{$input-height} / 2);
    line-height: calc(#{$input-height} / 2);
    margin: calc(#{$input-height} / 4) 0;
    border: 0;
    background-color: transparent;
    font-size: $input-font-size-l;
}

@mixin jing-input-common() {
    display: block;
    z-index: 3;
    width: $input-width;
    height: $input-height;
}

input::placeholder {
    @include jing-input-placeholder();
}

textarea::placeholder {
    @include jing-input-placeholder();
}

.jing-input {
    @include jing-input();

    &.jing-input__error {
        border-color: $input-error-border-color;

        &:focus {
            border-color: $input-error-border-color;
        }
    }

    &::-webkit-input-placeholder {
        color: $input-placeholder-color;
    }
}

.jing-input__group {
    display: inline-flex;
    width: 100%;
    font-size: $input-font-size;

    .jing-input {
        flex: 1;
    }

    .eye-btn {
        display: flex !important;
        @include flex-center();
        @include jing-input-common();
    }

    .clear-btn {
        display: flex !important;
        @include flex-center();
        @include jing-input-common();
    }
}

.jing-input__group-suffix {
    .jing-input {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
}

// 带密码的input
.jing-input__group-password {
    .jing-input {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
}

// 发送短信验证码input
.jing-input__group-verify {
    .jing-input__group {
        width: 65%;
    }
    .jing-input__verify {
        @include flex-center();
        justify-content: flex-end;
        color: $input-verify-font-color;
        height: $input-height;
        line-height: $input-line-height;
        text-align: right;
        &_active {
            color: $globalColorBlack1;
        }
    }
}

// 验证码input
.jing-input__group-captcha {
    .jing-input__group {
        width: 65%;
    }
    .jing-input__captcha {
        @include flex-center();
    }
}

// 自定义input
.jing-input__group-keyboard {
    .jing-input__keyboard {
        flex: 1;
        width: 100%;
        height: $input-width;
        line-height: $input-line-height;
        cursor: text;
        position: relative;
        z-index: 2;
        background-color: rgba(255, 255, 255, 0) !important;
        &:after {
            display: none;
            content: '';
            width: 1px;
            height: 1.25rem;
            background: #000;
            border-radius: 2px;
            position: relative;
            top: 0.25rem;
            left: 0;
            animation: inputMark 1s ease-in infinite;
        }
        &_active {
            &:after {
                display: inline-block;
            }
        }
        &_small {
            font-size: $input-font-size-xxs;
        }
    }
    sub {
        z-index: 1;
        display: block;
        position: absolute;
        left: 1px;
        top: 52%;
        transform: translate(0, -50%);
        height: 1em;
        line-height: 1em;
        font-size: 1rem;
        color: $input-keyboard-sub-color;
    }
}

// 多行
.jing-textarea {
    @include jing-input();
    display: block;
    resize: none;
    word-break: break-all;
    word-wrap: break-word;
    overflow: visible;
}
