.KeyBoardBase {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 4px 0;
    // filter: blur(10px); // 毛玻璃效果
    &__box {
        flex: 0 0 33.33%;
        position: relative;
        height: 25%;
        &-active {
            .KeyBoardBase__box-span {
                background-color: #dddddd;
            }
            &:nth-child(12) {
                .KeyBoardBase__box-span {
                    background-color: #dddddd !important;
                    // background-color: $globalColorWhite0 !important;
                }
            }
            .KeyBoardBase__box-span-isNew {
                background-color: #adb3bc !important;
                // color: #000;
            }
            &:nth-child(12) {
                .KeyBoardBase__box-span-isNew {
                    background-color: #adb3bc !important;
                }
            }
        }

        &-span {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0.2rem;
            left: 0.2rem;
            right: 0.2rem;
            bottom: 0.2rem;
            font-size: 1.5rem;
            // border-bottom: 1px solid rgba(0, 0, 0, 0.5);
            background-color: $globalColorWhite0;
            border-radius: 0.4rem;
            box-shadow: 0px 1px 0px $globalColorBlack2;
        }
        &:nth-child(3n-2) {
            span {
                left: 0.2rem;
                right: 0.1rem;
            }
        }
        &:nth-child(3n-1) {
            span {
                left: 0.1rem;
                right: 0.1rem;
            }
        }
        &:nth-child(3n) {
            span {
                left: 0.1rem;
                right: 0.2rem;
            }
        }
        &-emty {
            visibility: hidden;
            opacity: 0;
        }
        &:nth-child(12) {
            .KeyBoardBase__box-span {
                .Icon {
                    width: 60%;
                    height: 60%;
                }
                // background-color: $KBBtnColor;
                // color: $globalColorWhite0;
            }
            .KeyBoardBase__box-span-isNew {
                background-color: $globalColorWhite0;
                .Icon {
                    width: 60%;
                    height: 60%;
                }
            }
        }
        &-span-isNew {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 0;
            border-radius: 0;
            background-color: $globalColorWhite0;
        }
    }
}

.KeyBoardLetter {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    float: none;
    // height: 200px;
    &__box {
        flex: 0 0 10%;
        position: relative;
        display: block;
        width: 100%;
        height: 25%;
        float: left;
        margin: 0;
        border-radius: 0;
        background: 0 0;
        color: #000;
        overflow: visible;
        font-weight: 400;
        &-active {
            span {
                background-color: $globalColorWhite0 !important;
                color: #000 !important;
            }
        }
        &-space {
            &__active {
                span {
                    background-color: $KBBtnColor !important;
                    color: $globalColorWhite0 !important;
                }
            }
        }
        &-span {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0.25rem;
            left: 0.2rem;
            right: 0.2rem;
            bottom: 0.25rem;
            font-size: 1.375rem;
            border-bottom: 1px solid $globalColorBlackA50;
            background-color: $globalColorWhite0;
            border-radius: 0.25rem;
            color: #000;
            // padding-bottom: 0.2rem;
        }
        &:nth-child(11) {
            margin-left: 5%;
        }
        &:nth-child(20) {
            flex: 0 0 13%;
            margin-right: 2%;
            span {
                background-color: $KBBtnColor;
                color: $globalColorWhite0;
                font-size: 1rem;
            }
        }
        &:nth-child(28) {
            flex: 0 0 13%;
            margin-right: 0;
            margin-left: 2%;
            span {
                background-color: $KBBtnColor;
                color: $globalColorWhite0;
                font-size: 1rem;
            }
        }
        &:nth-child(29) {
            flex: 0 0 25%;
            span {
                background-color: $KBBtnColor;
                color: $globalColorWhite0;
                font-size: 1rem;
            }
        }
        &:nth-child(30) {
            flex: 0 0 50%;
            span {
                font-size: 1rem;
            }
        }
        &:nth-child(31) {
            flex: 0 0 25%;
            span {
                background-color: $KBBtnColor;
                color: $globalColorWhite0;
                font-size: 1rem;
            }
        }
        &-letter {
            &__active {
                span {
                    width: 100%;
                    height: 100%;
                    font-size: 225% !important;
                    z-index: 2;
                    bottom: 125%;
                    left: 0;
                    right: 0;
                    top: auto;
                    border: 0;
                    background: 0 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                &:after {
                    z-index: 100;
                    display: block;
                    content: '';
                    width: 230%;
                    height: 230%;
                    position: absolute;
                    z-index: 1;
                    // top: 0;
                    bottom: 4%;
                    left: 50%;
                    transform: translateX(-50%);
                    background: url('~@/assets/keyboard-active.png') center
                        center no-repeat;
                    background-size: auto 100%;
                }
                &:nth-child(1) {
                    span {
                        left: 37.5% !important;
                    }
                    &:after {
                        background-position: left center !important;
                        left: -3% !important;
                        transform: translateX(0) !important;
                    }
                }
                &:nth-child(10) {
                    span {
                        left: auto !important;
                        right: 37.5% !important;
                    }
                    &:after {
                        background-position: right center !important;
                        left: auto !important;
                        right: -3% !important;
                        transform: translateX(0) !important;
                    }
                }
            }
            &__symbol__active {
                &:nth-child(28) {
                    span {
                        background-color: $globalColorWhite0;
                    }
                }
                &:nth-child(29) {
                    span {
                        background-color: $globalColorWhite0;
                        color: $globalColorBlack0;
                    }
                }
                &:nth-child(30) {
                    span {
                        background-color: $KBBtnColor;
                        color: $globalColorWhite0;
                    }
                }
            }
            &__done__active {
                &:nth-child(31) {
                    span {
                        background-color: $globalColorPurple;
                        color: $globalColorWhite0;
                    }
                }
            }
            &__shift__active {
                &:nth-child(20) {
                    span {
                        background-color: $globalColorWhite0;
                        color: $globalColorBlack0;
                    }
                }
            }
            &__del__active {
                &:nth-child(28) {
                    span {
                        background-color: $globalColorWhite0;
                    }
                }
            }
        }
    }
}

.KeyBoardSymbol {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &__box {
        flex: 0 0 10%;
        position: relative;
        height: 25%;
        display: block;
        float: left;
        margin: 0;
        border-radius: 0;
        position: relative;
        background: 0 0;
        color: #000;
        overflow: visible;
        font-weight: 400;
        &-active {
            span {
                background-color: #f2f3f5;
            }
        }
        &-span {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0.25rem;
            left: 0.2rem;
            right: 0.2rem;
            bottom: 0.25rem;
            font-size: 1.375rem;
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
            background-color: $globalColorWhite0;
            border-radius: 0.25rem;
            color: #000;
        }
        &:nth-child(11) {
            margin-left: 5%;
        }
        &:nth-child(20) {
            margin-left: 5%;
        }
        &:nth-child(28) {
            flex: 0 0 13%;
            margin-right: 0;
            margin-left: 2%;
            span {
                background-color: $KBBtnColor;
                color: $globalColorWhite0;
                font-size: 1rem;
            }
        }
        &:nth-child(29) {
            flex: 0 0 25%;
            span {
                background-color: $KBBtnColor;
                color: $globalColorWhite0;
                font-size: 1rem;
            }
        }
        &:nth-child(35) {
            flex: 0 0 25%;
            span {
                background-color: $KBBtnColor;
                color: $globalColorWhite0;
                font-size: 1rem;
            }
        }
        &-symbol {
            &__active {
                span {
                    width: 100%;
                    height: 100%;
                    font-size: 225% !important;
                    z-index: 2;
                    bottom: 125%;
                    left: 0;
                    right: 0;
                    top: auto;
                    border: 0;
                    background: 0 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                &:after {
                    z-index: 100;
                    display: block;
                    content: '';
                    width: 230%;
                    height: 230%;
                    position: absolute;
                    z-index: 1;
                    bottom: 4%;
                    left: 50%;
                    transform: translateX(-50%);
                    background: url('~@/assets/keyboard-active.png') center
                        center no-repeat;
                    background-size: auto 100%;
                }
                &:nth-child(1) {
                    span {
                        left: 37.5% !important;
                    }
                    &:after {
                        background-position: left center !important;
                        left: -3% !important;
                        transform: translateX(0) !important;
                    }
                }
                &:nth-child(10) {
                    span {
                        left: auto !important;
                        right: 37.5% !important;
                    }
                    &:after {
                        background-position: right center !important;
                        left: auto !important;
                        right: -3% !important;
                        transform: translateX(0) !important;
                    }
                }
            }
            &__symbol__active {
                &:nth-child(28) {
                    span {
                        background-color: $globalColorWhite0;
                    }
                }
                &:nth-child(29) {
                    span {
                        background-color: $globalColorWhite0;
                        color: $globalColorBlack0;
                    }
                }
            }
            &__done__active {
                &:nth-child(35) {
                    span {
                        background-color: $globalColorPurple;
                        color: $globalColorWhite0;
                    }
                }
            }
        }
    }
}

.KeyBoardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    border-bottom: 1px solid #fafafa;
    border-top: 1px solid $globalColorBorder;
    &__left,
    &__right {
        width: $am-lg;
        height: 100%;
    }
    &__center,
    &__right {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__center {
        .Icon {
            margin-right: $am-xxxs;
        }
        &-title {
            font-size: $am-sm;
            color: $globalColorBlack1;
        }
    }
    &__right {
        transform: rotate(90deg);
    }
}

.KeyBoard {
    width: 100%;
    height: 100%;
    background-color: $globalColorBlack4;
    font-family: Arial, '微软雅黑', 'Microsoft YaHei', SimSun, Helvetica,
        sans-serif;
    padding-bottom: calc(env(safe-area-inset-bottom));
    @supports (backdrop-filter: none) {
        .background {
            backdrop-filter: blur(10px);
        }
    }
}
