.jing-layout {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.jing-row {
    display: flex;
    flex-wrap: wrap;
    &--justify-center {
        justify-content: center;
    }
    &--justify-end {
        justify-content: end;
    }
    &--justify-space-between {
        justify-content: space-between;
    }
    &--justify-space-around {
        justify-content: space-around;
    }
    &--align-center {
        align-items: center;
    }
    &--align-bottom {
        align-items: flex-end;
    }
}

.jing-col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    @for $i from 1 through 24 {
        &--#{$i} {
            flex: 25% / 6 * $i;
            max-width: 25% / 6 * $i;
        }
        &--offset-#{$i} {
            flex: 25% / 6 * $i;
            max-width: 25% / 6 * $i;
        }
    }
}

// @for $i from 1 through 24 {
//   .jing-col--#{$i} {
//     flex: 25% / 6 * $i;
//     max-width: 25% / 6 * $i;
//   }
// }
