.jing-modal {
    top: 45%;
    left: 50%;
    width: var(--modal-width);
    overflow: hidden;
    font-size: var(--modal-font-size);
    background-color: var(--modal-bg);
    border-radius: var(--modal-border-radius);
    backface-visibility: hidden;
    transition: var(--modal-transition);
    transition-property: transform, opacity;

    @media (max-width: 321px) {
        width: var(--modal-small-screen-width);
    }

    &__header {
        padding: var(--modal-header-padding-top);
        font-weight: var(--modal-header-font-weight);
        line-height: var(--modal-header-line-height);
        text-align: center;

        &-isolated {
            padding: var(--modal-header-isolated-padding);
        }
    }

    &__content {
        &-isolated {
            display: flex;
            align-items: center;
            min-height: 104px;
        }
    }

    &__mesage {
        flex: 1;
        max-height: var(--modal-message-max-height);
        padding: 26px var(--modal-message-padding);
        overflow-y: auto;
        font-size: var(--modal-message-font-size);
        line-height: var(--modal-message-line-height);
        white-space: pre-wrap;
        text-align: center;
        word-wrap: pre-wrap;
        word-wrap: break-word;
        text-align: center;
        --webkit-overflow-scrolling: touch;

        &-has-title {
            padding-top: var(--modal-has-title-message-padding-top);
            color: var(--modal-has-title-message-text-color);
        }

        &-left {
            text-align: left;
        }

        &-right {
            text-align: right;
        }
    }

    &__footer {
        display: flex;
        overflow: hidden;
        user-select: none;
    }

    &__confrim,
    &__cancel {
        flex: 1;
        height: var(--modal-button-height);
        margin: 0;
        padding: 0;
    }

    &__confirm {
        &,
        &:active {
            color: var(--modal-confirm-button-text-color);
        }
    }
}

//   &--round-button {
//     .@{rv-prefix}-dialog__footer {
//       position: relative;
//       height: auto;
//       padding: var(--rv-padding-xs) var(--rv-padding-lg) var(--rv-padding-md);
//     }

//     .@{rv-prefix}-dialog__message {
//       padding-bottom: var(--rv-padding-md);
//       color: var(--rv-text-color);
//     }

//     .@{rv-prefix}-dialog__confirm,
//     .@{rv-prefix}-dialog__cancel {
//       height: var(--rv-dialog-round-button-height);
//     }

//     .@{rv-prefix}-dialog__confirm {
//       color: var(--rv-white);
//     }
//   }

//   &-bounce-enter {
//     transform: translate3d(-50%, -50%, 0) scale(0.7);
//     opacity: 0;
//   }

//   &-bounce-exit-active {
//     transform: translate3d(-50%, -50%, 0) scale(0.9);
//     opacity: 0;
//   }
//   &-bounce-enter-active,
//   &-bounce-leave-exit {
//     transform: translate3d(-50%, -50%, 0);
//     opacity: 1;
//   }
// }
