.jing-notice-bar {
    position: relative;
    display: flex;
    align-items: center;
    height: $noticebar-height;
    color: $noticebar-color;
    font-size: $noticebar-font-size-xs;
    font-weight: bold;
    line-height: 24px;
    background-color: $noticebar-color-bg;
    &__wrap {
        position: relative;
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
        &-content {
            position: absolute;
            white-space: nowrap;
            transition-timing-function: linear;
            animation: noticeBarPlay 15s linear infinite;
        }
    }
    &__left,
    &__close,
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $noticebar-width;
        height: 100%;
    }
    &__normal {
        width: 0;
    }
}
