.jing-panel {
    font-size: var(--panel-font-size);
    color: var(--panel-text-color);
    &__header {
        display: flex;
        align-items: center;
        &-title {
            flex: 1;
            font-weight: var(--panel-font-weight);
            padding: var(--panel-padding-v) 0 var(--panel-padding-h);
        }
        &-more {
            padding: var(--panel-padding-v) 0 var(--panel-padding-h)
                var(--panel-padding-h);
            font-size: var(--panel-title-font-size);
            color: var(--panel-more-text-color);
        }
    }
    &__body {
        position: relative;
        background: var(--panel-body-bg);
    }
}
