.PasswordInput {
    position: relative;
    margin: 0 $global-vertical-gap * 2;
    user-select: none;
    &__security {
        display: flex;
        width: 100%;
        height: 50px;
        cursor: pointer;
        li {
            position: relative;
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
            height: 100%;
            font-size: $am-xxl;
            line-height: 1.2;
            background-color: #f2f6f9;
            border-radius: 6px;
            margin-left: 0.5rem;
            &:first-child {
                margin: 0;
            }
        }
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 10px;
            height: 10px;
            background-color: #000;
            border-radius: 100%;
            transform: translate(-50%, -50%);
            visibility: hidden;
        }
        &-cursor {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1px;
            height: 40%;
            background-color: $globalColorBlack0;
            transform: translate(-50%, -50%);
            animation: 1s jqb-cursor-flicker infinite;
        }
    }
    &__input {
        position: absolute;
        top: 0;
        left: -200px;
        // background: #ddd;
        width: 100vh;
        height: 50px;
    }
}
