.ProductCard {
    @include background-shadow();
    padding: 0.75rem 0;
    margin-bottom: $global-horizontal-gap;
    &:last-child {
        margin-bottom: 0;
    }
    &__header {
        display: flex;
        flex-direction: column;
        padding: 0 0.75rem;
        &-title {
            width: 100%;
            font-size: $am-l;
        }
        &-taglist {
            display: flex;
            flex-wrap: wrap;
            padding-top: 0.125rem;
            .Tag {
                margin-top: 0.125rem;
            }
        }
    }
    &__content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        &:after {
            @include hairline-bottom($globalColorBlack4);
            left: $global-horizontal-gap;
            right: $global-horizontal-gap;
        }
        padding: 0.5rem 0.75rem 1rem;
        // .ProductCard__content-item-box {
        //     width: calc(100% - 4.5rem);
        //     flex: 1;
        //     display: flex;
        //     align-items: center;
        //     justify-content: flex-start;
        // }
        &-item {
            display: flex;
            justify-content: space-between;
            // height: 40px;
            padding-left: $global-horizontal-gap;
            // padding-right: 1rem;
            // padding-left: 0.5rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            position: relative;
            // &:after {
            //     @include hairline-finance-left(#e6e6e6);
            //     // @include hairline-finance-left($globalColorBorder);
            // }
            &.fourthreethree {
                flex: 3;
                &:first-child {
                    flex: 4;
                }
            }
            &.threethreefour {
                flex: 3;
                &:last-child {
                    flex: 4;
                }
            }
            &.threethreethree {
                flex: 3;
            }
            &:first-child {
                padding-left: 0;
                border-left: 0;
                &:after {
                    padding-left: 0;
                    border-left: 0;
                }
            }
            &:last-child {
                padding-right: 0;
            }
            &.short_space {
                padding: 0 0.2rem;
            }
            span {
                em {
                    font-size: 0.6rem;
                }
            }
            &-header {
                padding-bottom: 5px;
                span {
                    font-size: $am-xxxl;
                }
                em {
                    font-size: 0.6rem;
                }
            }
        }
    }
    &__footer {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        font-size: $am-xxs;
        padding: 0.5rem 0.75rem 0;
        // padding-top: 0.5rem;
        &-left {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 100%;
            font-size: $am-xxs;
            flex: 1;
        }
        &-btn {
            z-index: 100;
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            height: 1.5rem;
            padding: 0 0.5rem;
            line-height: 1.5rem;
            border-radius: 1rem;
            background: $globalColorOrangeGradient;
            color: $globalColorWhite0;
            font-size: $am-xs;
            margin-left: $am-l;
            &.btn-disable {
                border: 0;
                background: $globalColorBlack4;
                color: $globalColorWhite0;
                cursor: not-allowed;
            }
            &.btn-border {
                background: $globalColorWhite0;
                color: $globalColorOrange;
                border: 1px solid $globalColorOrange;
            }
        }
        &-box {
            display: flex;
            justify-content: space-between;
            color: $globalColorBlack2;
            &-left__time {
                span {
                    em {
                        color: $globalColorOrange;
                    }
                }
            }
            // &-right {
            //     color: $globalColorBlack2;
            // }
        }
        &-process {
            width: 100%;
            height: 6px;
            border-radius: 3px;
            margin-top: 0.3rem;
            position: relative;
            background: rgb(229, 237, 245);
            span {
                position: absolute;
                top: 0;
                left: 0;
                height: 6px;
                border-radius: 3px;
                min-width: 6px;
                background: $globalColorOrangeGradient;
                em {
                    color: $globalColorOrange;
                }
            }
        }
    }
}
