.ProductDetailTop {
    display: flex;
    flex-direction: column;
    width: 100%;
    // height: 9rem;
    background: $globalColorDarkBlueGradient;
    color: var(--color-white-1);
    &__Header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        // height: 4.5rem;
        // padding-left: 1rem;
        padding: 1rem;
        &-title {
            font-size: $am-xl;
        }
        &-content {
            margin-top: 0.5rem;
            font-size: var(--font-size-xs);
            // span {
            //     background: $globalColorWhiteA30;
            //     border-radius: 4px;
            //     padding: 2px 4px;
            //     margin-right: 4px;
            // }
        }
    }
    &__Body {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        padding-bottom: 1rem;
        padding-left: $global-vertical-gap;
        &-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;
            // padding-left: 1rem;
            &.fourthreethree {
                flex: 3;
                &:first-child {
                    flex: 4;
                }
            }
            &.threethreefour {
                flex: 3;
                &:last-child {
                    flex: 4;
                }
            }
            &.threethreethree {
                flex: 3;
            }
            &.oneonetwo {
                flex: 1;
                &:last-child {
                    flex: 2;
                }
            }
            &-title {
                font-size: $am-xxxl;
                em {
                    font-size: 0.6rem;
                }
            }
            &-desc {
                color: $globalColorWhiteA30;
                font-size: var(--font-size-xs);
            }
        }
    }
}
