.RecordList {
    position: relative;
    display: flex;
    padding: 0.5rem 0.5rem 0.5rem 0;
    // margin-left: 1rem;
    padding-left: 1rem;
    background: $globalColorWhite0;
    // border-bottom: 1px solid $globalColorBorder;
    // @extend.clearfix;
    &:after {
        @include hairline-bottom($globalColorBorder);
        left: 1rem;
    }
    &:nth-child(1) {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    // &:first-of-type {
    //     border-radius: 10px 10px 0 0;
    // }
    &:last-of-type {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom: 0;
        &:after {
            transform: scaleY(0);
        }
    }
    &-noLink {
        padding-right: $am-l !important;
    }
    // &-Action {
    //     padding-left: 1rem;
    // }
    &-arrowicon {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 30px;
        .Icon {
            width: 0.85rem;
            height: 0.85rem;
        }
    }
    &-action {
        text-align: left;
        position: absolute;
        left: $am-xxxs;
        top: 50%;
        transform: translate(0, -50%);
    }
    &-centerText {
        margin-top: $am-xs;
    }
    &-type {
        // padding-left: 2.5rem !important;
        text-align: left;
        position: absolute;
        left: $am-xxxs;
        top: 50%;
        transform: translate(0, -50%);
        width: $am-xxxl;
        height: $am-xxxl;
        background-color: $globalColorBlack2;
        color: $globalColorWhite0;
        font-size: $am-xs;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        &__orangeType {
            background-color: $globalColorOrange;
        }
        &__greenType {
            background-color: $globalColorGreen;
        }
    }
    .am-sm {
        color: $globalColorBlack0;
    }
    .am-xs {
        color: $globalColorBlack2;
    }
}
