.jing-tabs {
    position: relative;

    &__sticky {
        position: sticky;
        top: 0;
        right: 0;
        left: 0;
        z-index: 99;
    }

    &__wrap {
        height: var(--tabs-line-height);
        overflow: hidden;

        &--scrollable {
            .jing-tab {
                flex: 1 0 auto;
                padding: 0 var(--tabs-scrollable-padding);
            }

            .jing-tabs__nav {
                overflow-x: auto;
                overflow-y: hidden;
                -webkit-overflow-scrolling: touch;

                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }

    &__nav {
        box-sizing: content-box;
        position: relative;
        display: flex;
        background-color: var(--tabs-nav-bg);
        user-select: none;
        height: 100%;
        padding-bottom: 15px;
    }

    &__line {
        position: absolute;
        bottom: 15px;
        left: 0;
        z-index: 1;
        width: var(--tabs-line-bar-width);
        height: var(--tabs-line-bar-height);
        background-color: var(--tabs-line-bar-color);
        border-radius: var(--tabs-line-bar-height);
    }

    &__panel {
        display: none;
        position: relative;
        transition: height 0.3s;
        height: 100%;

        &--active {
            display: block;
        }
    }
}

.jing-tab {
    @include flex-center;
    position: relative;
    flex: 1;
    padding: 0 var(--padding-base);
    color: var(--tab-text-color);
    font-size: var(--tab-font-size);
    line-height: var(--tab-line-height);
    cursor: pointer;

    //   &--active {
    //     color: var(--tab-active-text-color);
    //     font-weight: var(--font-weight-bold);
    //   }

    &--disabled {
        color: var(--tab-disabled-text-color);
        cursor: not-allowed;
    }

    &__text {
        &--ellipsis {
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }

        &-wrapper {
            position: relative;
        }
    }
}
