.jing-tag {
    position: relative;
    display: inline-block;
    line-height: var(--tag-line-height);
    margin-right: var(--tag-margin);
    padding: var(--tag-padding);
    border-radius: var(--tag-border-radius);
    font-size: var(--tag-font-size);
    background-color: var(--bg-white);
    white-space: nowrap;
    text-overflow: ellipsis;

    &--default {
        color: var(--tag-default-color);
        background-color: var(--tag-default-bg);

        &.jing-tag--active {
            color: var(--tag-default-active-color);
            background: var(--tag-default-active-bg);
        }
    }

    &--primary {
        color: var(--tag-primary-color);
        background-color: var(--tag-primary-bg);

        &.jing-tag--active {
            color: var(--tag-primary-active-color);
            background-color: var(--tag-primary-active-bg);
        }
    }

    &--normal {
        color: var(--tag-normal-color);
        background-color: var(--tag-normal-bg);

        &::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border: 1px solid;
            border-color: inherit;
            border-radius: inherit;
            content: '';
            pointer-events: none;
        }
    }

    &--disabled {
        color: var(--tag-disabled-color);
        background-color: var(--tag-disabled-bg);
    }

    &--medium {
        padding: var(--tag-medium-padding);
    }

    &--large {
        padding: var(--tag-large-padding);
        font-size: var(--tag-large-font-size);
        border-radius: var(--tag-large-border-radius);
    }
}
