.jing-tag {
    display: inline-block;
    //   height: $tag-height;
    line-height: $tag-line-height;
    margin-right: $tag-margin;
    padding: $tag-padding;
    border-radius: $tag-border-radius;
    font-size: $tag-font-size;
    background-color: $bg-orange;
    white-space: nowrap;
    text-overflow: ellipsis;
    &__orange {
        color: $orange;
        background-color: $bg-orange;
    }
    &__highOrange {
        color: $white-1;
        background: $gradient-orange;
    }
    &__white {
        color: $white-1;
        background-color: $white-3;
    }
    &__highWhite {
        color: $blue;
        background-color: $bg-white;
    }
}

// 小号
// 高16px，左右间隔4px，圆角2px，字号12

// 中号
// 高20px，左右间隔6px，圆角2px，字号12

// 大号
// 高24px，左右间隔8px，圆角4px，字号14
