.jing-typography {
    padding: $typography-padding;
    word-break: break-all;
    word-wrap: break-word;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
        margin-bottom: $typography-h-mr-bottom;
    }
    h1 {
        font-size: $font-size-xxxl;
    }
    h2 {
        font-size: $font-size-xxl;
    }
    h3 {
        font-size: $font-size-xl;
    }
    h4 {
        font-size: $font-size-l;
    }
    h5 {
        font-size: $font-size-sm;
    }
    h6 {
        font-size: $font-size-xs;
    }
    p {
        line-height: 1.8em;
        margin-bottom: $horizontal-gap;
    }
    table p {
        margin-bottom: 0;
        // tbody {
        //     tr:nth-child(odd) {
        //         background-color: #fafafa;
        //     }
        // }
    }
    table {
        width: 100% !important;
        border-spacing: 0;
        border-collapse: collapse;
        border: 1px solid $border-color;
        background: $bg-white;
        margin-bottom: 0;
        // tbody {
        //     tr:nth-child(odd) {
        //         background-color: #fafafa;
        //     }
        // }
        tr:nth-child(odd) {
            background-color: $typography-table-tr-bg;
        }
        tbody {
            td {
                font-size: $font-size-xs;
                padding: 3px 6px;
                border: 1px solid $black-4;
            }
        }
    }
    li {
        margin-left: $vertical-gap;
    }
    li > p {
        margin-bottom: 0;
    }
    hr {
        height: 1px;
        margin: 0.75rem 0;
        border: 0;
        background-color: $globalColorBorder;
    }
    .am-btn.am-sm {
        display: inline-block;
        line-height: 1.2rem;
        margin-left: 0 !important;
        margin-top: 0.25rem;
        padding: 0 0.5rem;
        float: none;
    }
    .am-btn.am-color-blue {
        border-color: $blue;
        background-color: $blue;
        background-repeat: repeat-y;
        background-size: 100% auto;
        color: $white-1 !important;
    }
    .am-btn.am-sm {
        margin-left: 3%;
        font-size: $font-size-xs;
        border-radius: $border-radius;
    }
    .am-btn.am-sm {
        height: 1.25rem;
    }
}

.jing-typography {
    &.popup {
        p {
            line-height: 1.4em;
            margin-bottom: 0;
        }
    }
}
