@import '../../Style/variable';

// Divider
$actionsheet-height: 60vh;
$actionsheet-header-height: 45px;
$actionsheet-header-span-height: 42px;
$actionsheet-header-span-font-size: var(--font-size-md);
$actionsheet-active-color: var(--primary-color);
$actionsheet-column-font-size: var(--font-size-md);
$actionsheet-column-height: 300px;
