html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    // font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: auto !important;
}

html {
    // line-height: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    font-weight: normal;
    vertical-align: middle;
}

q,
blockquote {
    quotes: none;
}

q::before,
q::after,
blockquote::before,
blockquote::after {
    content: '';
    content: none;
}

a {
    text-decoration: none;
    background: transparent;
}

*[contenteditable] {
    -webkit-user-select: auto !important;
}

a,
input,
button,
textarea,
[class*='jing-'] {
    &:focus {
        outline: none;
    }
    color: inherit;
    font: inherit;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

input {
    border: none;
    border-radius: 0;
    background: none;
    -webkit-appearance: none;
}

button,
input[type='number'],
input[type='text'],
input[type='password'],
input[type='email'],
input[type='search'],
select,
textarea {
    margin: 0;
    font-family: inherit;
    -webkit-appearance: none;
}

// 隐藏 input type=number元素，右侧的上下箭头
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
}

textarea {
    border: none;
    border-radius: 0;
    resize: none;
}

[type='checkbox'],
[type='radio'] {
    box-sizing: border-box;
    padding: 0;
}

html {
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    font-family: var(--base-font-family);
}
