@import '../../Style/variable';

// Timeline
$timeline-header-font-size: var(--font-size-xs);
$timeline-footer-font-size: var(--font-size-xxs);
$timeline-padding: var(--vertical-gap);
$timeline-bg: var(--color-black-5);
$timeline-white-bg: var(--bg-white);
$timeline-content-bg: rgb(227, 227, 227);
$timeline-content-dash-bg: rgb(204, 204, 204);
