@import '../../Style/variable';

// Picker
$picker-bg: var(--color-white-1);
$picker-toolbar-height: 44px;
$picker-title-font-size: var(--font-size-lg);
$picker-title-line-height: var(--line-height-md);
$picker-action-padding: 0 var(--padding-md);
$picker-action-font-size: var(--font-size-md);
$picker-confirm-action-color: var(--text-link-color);
$picker-cancel-action-color: var(--color-black-3);
$picker-option-font-size: var(--font-size-lg);
$picker-option-text-color: var(--color-black);
$picker-option-disabled-opacity: 0.3;
$picker-loading-icon-color: var(--primary-color);
$picker-loading-mask-color: rgba(255, 255, 255, 0.9);
