// svg loading 动画
@keyframes jing-activity-ratate360 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes jing-activity-rotate-circular {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 120, 200;
        stroke-dashoffset: -60;
    }
    100% {
        stroke-dasharray: 120, 200;
        stroke-dashoffset: -180;
    }
}

@keyframes jing-spinner-fade {
    0% {
        opacity: 0.85;
    }
    50% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.25;
    }
}

// noticebar 动画
@keyframes jqb-fade-enter {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.jqb-fade-enter {
    animation: jqb-fade-enter both ease-in;
}

@keyframes jqb-fade-leave {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.jqb-fade-leave {
    animation: jqb-fade-leave both ease-out;
}

// 输入框 光标效果
@keyframes jqb-cursor-flicker {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

// 淡入
@keyframes jing-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

// 淡出
@keyframes jing-fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

// @keyframes rv-slide-up-enter {
//     from {
//       transform: translate3d(0, 100%, 0);
//     }
//   }

//   @keyframes rv-slide-up-leave {
//     to {
//       transform: translate3d(0, 100%, 0);
//     }
//   }

//   @keyframes rv-slide-down-enter {
//     from {
//       transform: translate3d(0, -100%, 0);
//     }
//   }

//   @keyframes rv-slide-down-leave {
//     to {
//       transform: translate3d(0, -100%, 0);
//     }
//   }

//   @keyframes rv-slide-left-enter {
//     from {
//       transform: translate3d(-100%, 0, 0);
//     }
//   }

//   @keyframes rv-slide-left-leave {
//     to {
//       transform: translate3d(-100%, 0, 0);
//     }
//   }

//   @keyframes rv-slide-right-enter {
//     from {
//       transform: translate3d(100%, 0, 0);
//     }
//   }

//   @keyframes rv-slide-right-leave {
//     to {
//       transform: translate3d(100%, 0, 0);
//     }
//   }

//   @keyframes rv-zoom-in {
//     from {
//       transform: scale(0.8);
//       opacity: 0;
//     }

//     to {
//       transform: scale(1);
//       opacity: 1;
//     }
//   }

//   @keyframes rv-zoom-out {
//     from {
//       transform: scale(1);
//       opacity: 1;
//     }

//     to {
//       transform: scale(0.8);
//       opacity: 0;
//     }
//   }

//   @keyframes rv-rotate {
//     from {
//       transform: rotate(0deg);
//     }

//     to {
//       transform: rotate(360deg);
//     }
//   }

.jing-fade {
    &-enter-active {
        animation: var(--animation-duration-base) jing-fade-in both
            var(--animation-timing-function-enter);
    }
    &-exit-active {
        animation: var(--animation-duration-base) jing-fade-out both
            var(--animation-timing-function-leave);
    }
}

//   .@{rv-prefix}-slide-up {
//     &-enter-active {
//       animation: @animation-duration-base rv-slide-up-enter both @animation-timing-function-enter;
//     }

//     &-exit-active {
//       animation: @animation-duration-base rv-slide-up-leave both @animation-timing-function-leave;
//     }
//   }

//   .@{rv-prefix}-slide-down {
//     &-enter-active {
//       animation: rv-slide-down-enter @animation-duration-base both @animation-timing-function-enter;
//     }

//     &-exit-active {
//       animation: rv-slide-down-leave @animation-duration-base both @animation-timing-function-leave;
//     }
//   }

//   .@{rv-prefix}-slide-left {
//     &-enter-active {
//       animation: rv-slide-left-enter @animation-duration-base both @animation-timing-function-enter;
//     }

//     &-exit-active {
//       animation: rv-slide-left-leave @animation-duration-base both @animation-timing-function-leave;
//     }
//   }

//   .@{rv-prefix}-slide-right {
//     &-enter-active {
//       animation: rv-slide-right-enter @animation-duration-base both @animation-timing-function-enter;
//     }

//     &-exit-active {
//       animation: rv-slide-right-leave @animation-duration-base both @animation-timing-function-leave;
//     }
//   }

//   .@{rv-prefix}-zoom {
//     &-enter-active {
//       animation: @animation-duration-base rv-zoom-in both @animation-timing-function-enter;
//     }
//     &-exit-active {
//       animation: @animation-duration-base rv-zoom-out both @animation-timing-function-leave;
//     }
//   }
