@mixin pre($style, $value) {
    -webkit-#{$style}: $value;
    -moz-#{$style}: $value;
    -ms-#{$style}: $value;
    -o-#{$style}: $value;
    #{$style}: $value;
}

@mixin filter($value) {
    @include pre(filter, $value);
}
@mixin animation($value) {
    @include pre(animation, $value);
}
@mixin transition($arg) {
    @include pre(transition, $arg);
}
@mixin transition-duration($arg) {
    @include pre(transition-duration, $arg);
}
@mixin transform($arg) {
    @include pre(transform, $arg);
}
@mixin transform-origin($arg) {
    @include pre(transform-origin, $arg);
}
@mixin transform-style($arg) {
    @include pre(transform-style, $arg);
}

/*less-class-font-size*/
.am-xxxs {
    font-size: $am-xxxs;
}
.am-xxs {
    font-size: $am-xxs;
}
.am-xs {
    font-size: $am-xs;
}
.am-sm {
    font-size: $am-sm;
}
.am-l {
    font-size: $am-l;
}
.am-xl {
    font-size: $am-xl;
}
.am-xxl {
    font-size: $am-xxl;
}
.am-xxxl {
    font-size: $am-xxxl;
}
.am-xxxxl {
    font-size: $am-xxxxl;
}

/*can not select*/
.cantSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*clearfix*/
.clearfix {
    &:after {
        display: table;
        visibility: hidden;
        content: '';
        clear: both;
        height: 0;
    }
}
/*text ...*/
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*break*/
.am-nobreak {
    word-break: keep-all;
    white-space: nowrap;
}
.am-break {
    word-break: break-all;
    word-wrap: break-word;
}
/*link*/
a,
a:visited,
a:focus {
    color: $globalColorPurple;
    text-decoration: none;
    cursor: pointer;
}
a:active,
a:hover {
    color: darken($globalColorPurple, 15%);
}
a.am-disable,
a.am-disable:active {
    color: rgb(180, 180, 180);
    cursor: not-allowed !important;
}
/*color*/
.am-color-red {
    color: $globalColorRed !important;
}
.am-color-blue {
    color: $globalColorPurple !important;
}
.am-color-purple {
    color: $globalColorPurple !important;
}
.am-color-green {
    color: $globalColorGreen !important;
}
.am-color-orange {
    color: $globalColorOrange !important;
}
.am-color-yellow {
    color: $globalColorYellow !important;
}
.am-color-black0 {
    color: $globalColorBlack0 !important;
}
.am-color-black1 {
    color: $globalColorBlack1 !important;
}
.am-color-black2 {
    color: $globalColorBlack2 !important;
}
.am-color-white0 {
    color: $globalColorWhite0 !important;
}
.am-color-white1 {
    color: $globalColorWhite1 !important;
}
.am-color-white2 {
    color: $globalColorWhite2 !important;
}
.am-color-whiteA50 {
    color: rgba(255, 255, 255, 0.5) !important;
}
/*bg-color*/
.am-bg-blue {
    background-color: $globalColorBlue !important;
    color: #fff;
}
.am-bg-orange {
    background-color: $globalColorOrange !important;
    color: #fff;
}
.am-bg-black {
    background-color: $globalColorBlack0 !important;
    color: #fff;
}
.am-bg-white {
    background-color: $globalColorWhite0 !important;
}

.am-input-placeholder {
    color: $globalColorPlaceholder !important;
}

.am-gap {
    padding: $globalGap $verticalGap;
}
/*pos*/
.am-pos-re {
    position: relative !important;
}
.am-pos-lt {
    position: absolute !important;
    left: 0;
    top: 0;
}
.am-pos-lb {
    position: absolute !important;
    left: 0;
    bottom: 0;
}
.am-pos-lc {
    position: absolute !important;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}
.am-pos-rt {
    position: absolute !important;
    right: 0;
    top: 0;
}
.am-pos-rb {
    position: absolute !important;
    right: 0;
    bottom: 0;
}
.am-pos-rc {
    position: absolute !important;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}
.am-pos-bc {
    position: absolute !important;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
}
.am-pos-tc {
    position: absolute !important;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
}
.am-pos-cc {
    position: absolute !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.am-pos-fixt {
    position: fixed !important;
    z-index: 3;
    top: 0;
    left: 0;
}
.am-pos-fixb {
    position: fixed !important;
    z-index: 3;
    bottom: 0;
    left: 0;
}
/*effect*/
.am-effect-off,
.am-effect-off *,
.am-effect-off *:before,
.am-effect-off *:after {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}
/*table*/
.am-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border-bottom: 1px solid lighten($globalColorOrange, 30%) !important;
    background: #fff;
    & td[class*='am-g'] {
        float: none;
        margin: 0;
    }
    & td,
    & th {
        border: 0;
        padding: 0.75rem 0.25rem;
        vertical-align: middle;
        text-align: center;
        font-size: $am-sm;
    }
    & > thead {
        position: relative;
        z-index: 2;
        border-bottom: 1px solid lighten($globalColorOrange, 30%);
    }
    & > tbody > tr:nth-child(odd) {
        background-color: $globalColorBg;
    }
    & > * > tr > td a {
        display: inline-block;
        margin: 0 4px;
    }
    & > * > tr > td .am-btnDefault {
        color: #999;
    }
    & > * > tr > td .am-btnLight {
        background: #93b6da;
    }
    & > * > tr > td .am-btnLight:active {
        background: #89acd0;
    }
    &.am-table-border tbody,
    & > * > tr.first > td {
        border-top: 1px solid lighten($globalColorOrange, 30%) !important;
    }
    &.am-sm {
        font-size: 90%;
    }
    &.am-sm > tr > td,
    &.am-sm > * > tr > td {
        padding: 12px 6px;
    }
}
/*float*/
.am-float-left {
    float: left !important;
}
.am-float-right {
    float: right !important;
}
.am-float-none {
    float: none !important;
}
/*align*/
.am-align-left {
    text-align: left !important;
}
.am-align-right {
    text-align: right !important;
}
.am-align-center {
    text-align: center !important;
}
.am-align-justify {
    text-align: justify !important;
}
.am-align-nowrap {
    white-space: nowrap !important;
}
.am-text-lowercase {
    text-transform: lowercase !important;
}
.am-text-uppercase {
    text-transform: uppercase !important;
}
.am-text-capitalize {
    text-transform: capitalize !important;
}
.am-align-center {
    img {
        display: block;
        margin: 0 auto;
        float: none;
    }
}
img.am-align-center {
    display: block;
    margin: 0 auto;
    float: none;
}
/*ul,ol*/
.am-ul {
    list-style: outside;
    padding: 0 0 0 1.5em;
    li {
        list-style-type: square;
        line-height: 1.625em;
        li {
            list-style-type: disc;
            li {
                list-style-type: circle;
                li {
                    list-style-type: circle;
                }
            }
        }
    }
}
.am-ol {
    list-style: outside;
    padding: 0 0 0 1.5em;
    li {
        list-style-type: decimal;
        line-height: 1.625em;
        li {
            list-style-type: upper-alpha;
            li {
                list-style-type: decimal;
                li {
                    list-style-type: lower-alpha;
                }
            }
        }
    }
}

/*hgroup*/
hgroup {
    text-align: center;
}
hgroup > h6 {
    height: 1.5em;
    line-height: 1.5em;
    font-size: $am-xxxxl;
    font-weight: 400;
    overflow: hidden;
}
hgroup > h6 em {
    font-size: 0.75rem;
}
hgroup > span {
    display: block;
    margin-bottom: 0;
    font-size: 0.75rem;
    color: $globalColorBlack1;
}
hgroup > span > a {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 1rem;
    position: relative;
}
hgroup > span > a:before {
    display: block;
    content: '';
    width: 1rem;
    height: 1rem;
}
.am-title {
    padding: 0.5rem 0;
}
.am-subtitle {
    padding: 0.5rem 0;
    h6 {
        font-size: $am-l;
        color: $globalColorWhite1;
    }
    span {
        font-size: $am-xs;
        color: $globalColorWhite2;
    }
    @media screen and (max-width: 320px) {
        h6 {
            font-size: $am-sm;
        }
        span {
            font-size: $am-xxs;
        }
    }
}
/* a */
.normala {
    color: $globalColorPurple;
    text-decoration: none;
    cursor: pointer;
}
