// 未来删掉
@import './config.scss';
// 未来删掉
@import './base.scss';

// 重置
@import './reset.scss';

// mixin
@import './mixin.scss';
@import './mixins/index.scss';
@import './mixins/hairline.scss';

// 动画
@import './animation.scss';

@import './normalize.scss';

// @import './themes.scss';

// 以下内容暂时放在这里，后续等base文件清空在转移
.jing-safe-area-bottom {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}

.jing-iphonex-extra-height {
    height: constant(safe-area-inset-bottom);
    height: env(safe-area-inset-bottom);
    //   height: 10px;
}

[class*='jing-hairline'] {
    &::after {
        @include hairline;
    }
}

[type='checkbox'],
[type='radio'] {
    box-sizing: border-box;
    padding: 0;
}

.jing-hairline {
    &,
    &--top,
    &--left,
    &--right,
    &--bottom,
    &--surround,
    &--top-bottom {
        position: relative;
    }

    &--top::after {
        border-top-width: var(--border-width-base);
    }

    &--left::after {
        border-left-width: var(--border-width-base);
    }

    &--right::after {
        border-right-width: var(--border-width-base);
    }

    &--bottom::after {
        border-bottom-width: var(--border-width-base);
    }
}
