@import './var.scss';

@mixin pre($style, $value) {
    -webkit-#{$style}: $value;
    -moz-#{$style}: $value;
    -ms-#{$style}: $value;
    -o-#{$style}: $value;
    #{$style}: $value;
}

@mixin filter($value) {
    @include pre(filter, $value);
}
@mixin animation($value) {
    @include pre(animation, $value);
}
@mixin transition($arg) {
    @include pre(transition, $arg);
}
@mixin transition-duration($arg) {
    @include pre(transition-duration, $arg);
}
@mixin transform($arg) {
    @include pre(transform, $arg);
}
@mixin transform-origin($arg) {
    @include pre(transform-origin, $arg);
}
@mixin transform-style($arg) {
    @include pre(transform-style, $arg);
}

.hairline-common {
    position: absolute;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
}

@mixin hairline($color: var(--border-color)) {
    @extend .hairline-common;
    top: -50%;
    right: -50%;
    bottom: -50%;
    top: -50%;
    border: 0 solid $color;
    transform: scale(0.5);
}

@mixin hairline-top($color: var(--border-color), $left: 0, $right: 0) {
    @extend .hairline-common;
    top: 0;
    right: $right;
    left: $left;
    border-top: 1px solid $color;
    transform: scaleY(0.5);
}

@mixin hairline-bottom($color: var(--border-color), $left: 0, $right: 0) {
    @extend .hairline-common;
    bottom: 0;
    right: $right;
    left: $left;
    border-bottom: 1px solid $color;
    transform: scaleY(0.5);
}

@mixin hairline-left($color: var(--border-color), $top: 0, $bottom: 0) {
    @extend .hairline-common;
    left: 0;
    top: $top;
    bottom: $bottom;
    border-left: 1px solid $color;
    transform: scaleX(0.5) scaleY(0.5);
}

@mixin hairline-finance-left($color: var(--border-color), $top: 0, $bottom: 0) {
    @extend .hairline-common;
    left: 0;
    top: $top;
    bottom: $bottom;
    border-left: 1px solid $color;
    transform: scaleY(0.8) scaleX(0.5);
}

@mixin hairline-right($color: var(--border-color), $top: 0, $bottom: 0) {
    @extend .hairline-common;
    right: 0;
    top: $top;
    bottom: $bottom;
    border-right: 1px solid $color;
    transform: scaleX(0.5) scaleY(0.5);
}

@mixin bg-image($url) {
    background-image: url($url + '@2x.png');
    background-size: 100%;
    background-repeat: no-repeat;
    @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
        background-image: url($url + '@3x.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

// 3.0 圆角+阴影效果
@mixin background-shadow() {
    background: $globalColorWhite0;
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgba(100, 100, 100, 0.1);
}

// 3.0 底部的空位
@mixin padding-bottom() {
    padding-bottom: 5rem; // btn 高度
    padding-bottom: calc(constant(safe-area-inset-bottom) + 5rem);
    padding-bottom: calc(env(safe-area-inset-bottom) + 5rem);
}

@mixin padding-bottom-nobtn() {
    padding-bottom: $global-horizontal-gap;
    padding-bottom: calc(
        constant(safe-area-inset-bottom) + #{$global-horizontal-gap}
    );
    padding-bottom: calc(
        env(safe-area-inset-bottom) + #{$global-horizontal-gap}
    );
}

// 适配各种屁股条手机在微信中的展示，有底部导航条和无导航时
@mixin iPhoneXAndIPhoneXSScreenFit() {
    @media only screen and (width: 1125px) and (height: 2172px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
        @content;
    }

    @media only screen and (width: 2436px) and (height: 1029px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
        @content;
    }
}

@mixin iPhoneXRScreenFit() {
    @media only screen and (width: 828px) and (height: 1616px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
        @content;
    }

    @media only screen and (width: 1792px) and (height: 732px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
        @content;
    }
}

@mixin iPhoneXSMaxScreenFit() {
    @media only screen and (width: 1242px) and (height: 2424px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
        @content;
    }

    @media only screen and (width: 2688px) and (height: 1146px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
        @content;
    }
}

@mixin iPhoneDevicesScreenFit() {
    @include iPhoneXAndIPhoneXSScreenFit() {
        @content;
    }

    @include iPhoneXRScreenFit() {
        @content;
    }

    @include iPhoneXSMaxScreenFit() {
        @content;
    }
}

@mixin iconColorFn($color) {
    fill: $color;
    path {
        fill: $color;
    }
    circle {
        fill: $color;
    }
}

// flex 居中对齐
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin cell {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    padding: var(--cell-vertical-padding) var(--cell-horizontal-padding);
    color: var(--cell-text-color);
    font-size: var(--cell-font-size);
    line-height: var(--cell-line-height);
    background-color: var(--cell-bg);
}

@keyframes jqb-fade-enter {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.jqb-fade-enter {
    animation: jqb-fade-enter both ease-in;
}

@keyframes jqb-fade-leave {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.jqb-fade-leave {
    animation: jqb-fade-leave both ease-out;
}

// 输入框 光标效果
@keyframes jqb-cursor-flicker {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
