@import '../../Style/variable';

//   Modal
$modal-width: 80%;
$modal-small-screen-width: 90%;
$modal-font-size: var(--font-size-lg);
$modal-transition: var(--animation-duration-base);
$modal-border-radius: 16px;
$modal-bg: var(--color-white-1);
$modal-header-font-weight: var(--font-weight-bold);
$modal-header-line-height: 24px;
$modal-header-padding-top: 26px;
$modal-header-padding-bottom: 13px;
$modal-header-isolated-padding: var(--padding-lg) 0;
$modal-message-padding: var(--padding-lg);
$modal-message-font-size: var(--font-size-md);
$modal-message-line-height: var(--line-height-md);
$modal-message-max-height: 60vh;
$modal-has-title-message-text-color: var(--color-black-2);
$modal-has-title-message-padding-top: var(--padding-xs);
$modal-button-height: 48px;
$modal-confirm-button-text-color: var(--primary-color);
