@import '../../Style/variable';

// Loading
$loading-color: var(--color-black-4);
$loading-size: 30px;
$loading-animation-duration: 0.8s;
$loading-text-color: var(--color-black-3);
$loading-text-font-size: var(--font-size-md);
$loading-text-margin: var(--padding-xs);
