@import '../../Style/variable';

// Scroll
$scroll-pulldown-bg: var(--color-black-3);
$scroll-pulldown-height: 70px;
$scroll-pullup-height: 50px;
$scroll-pullup-width-img: 30px;
$scroll-pullup-height-img: 30px;
