@import '../../Style/variable';

// Popup
$popup-background-color: var(--bg-white);
$popup-transition: transform var(--animation-duration-base);
$popup-close-icon-z-index: 1;
$popup-close-icon-margin-vertical: 16px;
$popup-close-icon-margin-horizontal: 12px;
$popup-round-border-radius: 16px;
$popup-title-font-size: var(--font-size-lg);
