.jing-demo {
    &:last-of-type {
        padding-bottom: 32px;
    }

    &__title {
        padding: 12px 16px 6px;
        color: #969696;
        font-size: 14px;
    }

    &__content {
        border: solid 1px #eee;
        border-right: none;
        border-left: none;

        > .jing-button {
            margin-bottom: 15px;
            margin-right: 8px;
            &:last-child {
                margin-right: 0;
            }
        }

        > .jing-button-group {
            margin-bottom: 15px;

            &:last-child {
                margin-right: 0;
            }
            &.jing-button-group--1,
            &.jing-button-group--fixed-bottom {
                margin-bottom: 0;
            }
        }
    }
    //   .jing-button {
    //     margin-bottom: 15px;
    //     margin-right: 10px;
    //     &:last-child {
    //       margin-right: 0;
    //     }
    //   }
}
