@import '../../Style/variable';

// Tabs
$tabs-default-color: var(--primary-color);
$tabs-line-height: 44px;
$tabs-img-height: 70px;
$tabs-nav-bg: var(--bg-white);
$tabs-line-bar-width: 40px;
$tabs-img-line-bar-width: 20px;
$tabs-line-bar-height: 3px;
$tabs-img-border-radius: var(--border-radius-max);
$tabs-line-bar-color: var(--tabs-default-color);
$tabs-scrollable-padding: var(--padding-sm);

// Tab
$tab-text-color: var(--text-color);
$tab-disabled-text-color: var(--color-black-4);
$tab-font-size: var(--font-size-md);
$tab-img-font-size: var(--font-size-sm);
$tab-line-height: var(--line-height-md);
