@import '../../Style/variable';

// keyboard
$keyboard-z-index: 100;
$keyboard-bg: var(--color-black-5);
$keyboard-key-font-size: var(--font-size-xxxl);
$keyboard-key-padding: var(--padding-base);
$keyboard-key-border-color: rgba(0, 0, 0, 0.5);
$keyboard-title-color: var(--color-black-2);
$keyboard-title-height: 34px;
$keyboard-title-font-size: var(--font-size-sm);
$keyboard-title-bg: var(--background-color-light);
$keyboard-title-border-bottom-color: var(--background-color-light);
$keyboard-title-border-top-color: var($color-black-5);
$keyboard-active-font-size: 225% !important;
$keyboard-key-color: rgb(173, 179, 188);
$keyboard-key-special-font-size: var($font-size-lg);
$keyboard-cursor-color: var(--text-color);
$keyboard-cursor-width: 1px;
$keyboard-cursor-height: 40%;
$keyboard-cursor-cursor-animation-duration: 1s;
