@import '../../Style/variable/index.scss';

// Button
$button-height-xs: 24px;
$button-height-sm: 32px;
$button-height-md: 44px;
$button-height-lg: 50px;
$button-line-height: 1.2;
$button-padding-h-xs: var(--padding-xs);
$button-padding-h-sm: var(--padding-sm);
$button-padding-h-md: var(--padding-md);
$button-padding-h-lg: var(--padding-lg);
$button-font-size-xs: var(--font-size-xs);
$button-font-size-sm: var(--font-size-sm);
$button-font-size-md: var(--font-size-lg);
$button-font-size-lg: var(--font-size-xl);
$button-border-radius: var(--border-radius-md);
$button-border-radius-round: var(--border-radius-max);
$button-plain-bg: var(--bg-white);
$button-loading-bg: var(--color-black-4);
$button-disabled-color: var(--color-white-1);
$button-disabled-bg: var(--color-black-4);
$button-disabled-opacity: var(--opacity-disabled);
$button-default-color: var(--color-black);
$button-default-border-color: var(--border-color);
$button-default-bg: var(--bg-white);
$button-primary-color: var(--color-white-1);
$button-primary-border-color: var(--primary-color);
$button-primary-bg: var(--gradient-primary);
$button-second-primary-color: var(--color-white-1);
$button-second-primary-border-color: var(--second-primary-color);
$button-second-primary-bg: var(--gradient-second-primary);

// ButtonGroup
$button-fixed-bottom-bg: var(--bg-white);
$button-group-padding-h: var(--padding-sm);
$button-group-padding-v: var(--padding-md);
