:root {
    --default-color: $blue; // 去掉
    //   主题色
    --theme-primary: rgb(50, 100, 200);
    --theme-second-primary: rgb(255, 100, 20);
    --theme-info: rgb(20, 200, 255);
    --theme-warning: rgb(250, 180, 40);
    --theme-danger: rgb(255, 65, 65);

    // 颜色
    --color-black: rgb(0, 0, 0);
    --color-black-1: rgb(50, 50, 50);
    --color-black-2: rgb(100, 100, 100);
    --color-black-3: rgb(150, 150, 150);
    --color-black-4: rgb(200, 200, 200);
    --color-black-5: rgb(230, 230, 230);
    --color-white-1: rgb(255, 255, 255);
    --color-white-2: rgba(255, 255, 255, 0.5);
    --color-white-3: rgba(255, 255, 255, 0.3);
    --color-white-4: rgba(255, 255, 255, 0.1);

    // 渐变色
    --gradient-primary: linear-gradient(
        to right,
        rgb(80, 135, 245),
        var(--theme-primary)
    );
    --gradient-second-primary: linear-gradient(
        to right,
        rgb(255, 135, 35),
        var(--theme-second-primary)
    );
    --gradient-primary-disable: linear-gradient(
        to right,
        rgb(185, 205, 250),
        rgb(150, 185, 245)
    );
    --gradient-second-primary-disable: linear-gradient(
        to right,
        rgb(240, 210, 185),
        rgb(250, 200, 175)
    );

    // 背景色
    --bg: rgb(245, 245, 245);
    --bg-white: rgb(255, 255, 255);
    --background-color: #f7f8fa;
    --background-color-light: #fafafa;

    // 元件
    --text-color: var(--color-black-1);
    --active-color: var(--color-black-2);
    --active-opacity: 0.7;
    --disabled-opacity: 0.5;
    --text-link-color: #576b95;

    // Padding
    --padding-base: 4px;
    --padding-xs: calc(var(--padding-base) * 2);
    --padding-sm: calc(var(--padding-base) * 3);
    --padding-md: calc(var(--padding-base) * 4);
    --padding-lg: calc(var(--padding-base) * 6);
    --padding-xl: calc(var(--padding-base) * 8);

    // 字体
    --font-size-xs: 10px;
    --font-size-sm: 12px;
    --font-size-md: 14px;
    --font-size-lg: 16px;
    --font-size-xl: 18px;
    --font-size-xxl: 18px;
    --font-weight-bold: 500;
    --base-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
        Helvetica, Segoe UI, Arial, Roboto, 'PingFang SC', 'Hiragino Sans GB',
        'Microsoft Yahei', sans-serif;
    --price-integer-font-family: Avenir-Heavy, PingFang SC, Helvetica Neue,
        Arial, sans-serif;

    // 动画
    --animation-duration-base: 0.3s;
    --animation-duration-fast: 0.2s;
    --animation-timing-function-enter: ease-out;
    --animation-timing-function-leave: ease-in;
    --cubic-bezier: cubic-bezier(0.25, 0.8, 0.5, 1);

    // 占位符
    --placeholder-color: var(--color-black-4);

    // 堆叠顺序
    --zindex-mask: 1000;
    --zindex-popup: 1100;

    // 透明度
    --opacity-disabled: 0.5;
    --opacity-mask: 0.5;
    --opacity-toast: 0.8;

    // 行高
    --line-height-xs: 14px;
    --line-height-sm: 18px;
    --line-height-md: 20px;
    --line-height-lg: 22px;

    // 间距
    --vertical-gap: 16px;
    --horizontal-gap: 10px;

    // Border
    --border-color: var(--color-black-5);
    --border-width-base: 1px;
    --border-radius-sm: 2px;
    --border-radius-md: 4px;
    --border-radius-lg: 8px;
    --border-radius-max: 999px;

    // Divider
    --divider-margin: var(--padding-md) 0;
    --divider-text-color: var(--color-black-4);
    --divider-font-size: var(--font-size-md);
    --divider-line-height: 24px;
    --divider-border-color: var(--border-color);
    --divider-content-padding: var(--padding-md);
    --divider-content-left-width: 10%;
    --divider-content-right-width: 10%;

    // Tag
    --tag-padding: 0 var(--padding-base);
    --tag-margin: 2px;
    --tag-text-color: var(--color-white-1);
    --tag-font-size: var(--font-size-sm);
    --tag-line-height: 16px;
    --tag-border-radius: 2px;
    --tag-default-color: var(--theme-second-primary);
    --tag-default-bg: rgb(253, 244, 237);
    --tag-primary-color: var(--color-white-1);
    --tag-primary-bg: var(--color-white-3);
    --tag-normal-color: var(--color-black-3);
    --tag-normal-border: var(--color-black-3);
    --tag-normal-bg: var(--bg-white);
    --tag-disabled-color: var(--color-white-1);
    --tag-disabled-bg: var(--color-black-4);
    --tag-medium-padding: 2px 6px;
    --tag-large-padding: var(--padding-base) var(--padding-xs);
    --tag-large-border-radius: var(--border-radius-md);
    --tag-large-font-size: var(--font-size-md);
    --tag-default-active-color: var(--color-white-1);
    --tag-default-active-bg: var(--gradient-second-primary);
    --tag-primary-active-color: var(--theme-primary);
    --tag-primary-active-bg: var(--bg-white);

    // Button
    --button-height-xs: 28px;
    --button-height-sm: 36px;
    --button-height-md: 44px;
    --button-height-lg: 52px;
    --button-line-height: 1.2;
    --button-padding-h-xs: var(--padding-xs);
    --button-padding-h-sm: var(--padding-sm);
    --button-padding-h-md: var(--padding-md);
    --button-padding-h-lg: var(--paddding-lg);
    --button-font-size-xs: 12px;
    --button-font-size-sm: 14px;
    --button-font-size-md: 16px;
    --button-font-size-lg: 18px;
    --button-border-radius: var(--border-radius-md);
    --button-border-radius-md: var(--border-radius-md);
    --button-border-radius-round: var(--border-radius-max);
    --button-plain-bg: var(--bg-white);
    --button-loading-bg: var(--bg-white);
    --button-disabled-color: var(--color-white-1);
    --button-disabled-bg: var(--color-black-4);
    --button-disabled-opacity: var(--opacity-disabled);
    --button-default-color: var(--color-black);
    --button-default-border-color: var(--border-color);
    --button-default-bg: var(--bg-white);
    --button-primary-color: var(--color-white-1);
    --button-primary-border-color: var(--theme-primary);
    --button-primary-bg: var(--gradient-primary);
    --button-second-primary-color: var(--color-white-1);
    --button-second-primary-border-color: var(--theme-second-primary);
    --button-second-primary-bg: var(--gradient-second-primary);

    // ButtonGroup
    --button-fixed-bottom-bg: var(--bg-white);
    --button-group-padding-h: var(--padding-sm);
    --button-group-padding-v: var(--padding-md);

    // Cell
    //   @cell-font-size: @font-size-md;
    //   @cell-line-height: 24px;
    //   @cell-vertical-padding: 10px;
    //   @cell-horizontal-padding: @padding-md;
    //   @cell-text-color: @text-color;
    //   @cell-background-color: @white;
    //   @cell-border-color: @border-color;
    //   @cell-active-color: @active-color;
    //   @cell-required-color: @red;
    //   @cell-label-color: @gray-6;
    //   @cell-label-font-size: @font-size-sm;
    //   @cell-label-line-height: @line-height-sm;
    //   @cell-label-margin-top: @padding-base;
    //   @cell-value-color: @gray-6;
    //   @cell-icon-size: 16px;
    //   @cell-right-icon-color: @gray-6;
    //   @cell-large-vertical-padding: @padding-sm;
    //   @cell-large-title-font-size: @font-size-lg;
    //   @cell-large-label-font-size: @font-size-md;

    //   // CellGroup
    //   @cell-group-background-color: @white;
    //   @cell-group-title-color: @gray-6;
    //   @cell-group-title-padding: @padding-md @padding-md @padding-xs;
    //   @cell-group-title-font-size: @font-size-md;
    //   @cell-group-title-line-height: 16px;
}
