@import '../../Style/variable';

// Input
$input-width: 44px;
$input-font-size: var(--font-size-md);
$input-text-color: var(--text-color);
$input-border-color: var(--border-color);
$input-background-color: transparent;
$input-active-border-color: #645a82;
$input-disbaled-text-color: #4848524d;
$input-disabled-bg: var(--color-black-5);
$input-placeholder-text-color: var(--color-black-4);
$input-placeholder-font-size: var(--font-size-md);
$input-keyboard-height: 44px;
$input-keyboard-small-font-size: var(--font-size-md);
$input-keyboard-sub-font-size: var(--font-size-md);
$input-keyboard-sub-text-color: var(--color-black-4);
$input-keyboard-cursor-height: 18px;
$input-keyboard-cursor-bg: var(--color-black-1);
$input-verify-font-size: var(--font-size-sm);
$input-verify-text-color: var(--primary-color);
$input-verify-active-color: var(--color-black-3);
