$color-primary: rgb(38, 164, 164);
$color-second-primary: rgb(255, 100, 20);
$color-blue: rgb(50, 100, 200);
$color-orange: rgb(255, 100, 20);
$color-light-blue: rgb(80, 120, 240);
$color-light-orange: rgb(255, 115, 40);
$color-green: rgb(50, 205, 50);
$color-sky-blue: rgb(20, 200, 255);
$color-green-dark: rgb(30, 180, 160);
$color-yellow: rgb(250, 180, 40);
$color-red: rgb(255, 65, 65);

// 颜色
$color-black: rgb(0, 0, 0);
$color-black-1: rgb(50, 50, 50);
$color-black-2: rgb(100, 100, 100);
$color-black-3: rgb(150, 150, 150);
$color-black-4: rgb(200, 200, 200);
$color-black-5: rgb(230, 230, 230);
$color-white-1: rgb(255, 255, 255);
$color-white-2: rgba(255, 255, 255, 0.5);
$color-white-3: rgba(255, 255, 255, 0.3);
$color-white-4: rgba(255, 255, 255, 0.1);

// 背景色
$bg: rgb(245, 245, 245);
$bg-white: rgb(255, 255, 255);
$background-color: #f7f8fa;
$background-color-light: #fafafa;

// 渐变色
$gradient-primary: linear-gradient(to right, rgb(102, 204, 153), rgb(51, 204, 204));
$gradient-second-primary: linear-gradient(to right, rgb(255, 135, 35), $color-orange);


$primary-color: var(--color-primary);
$second-primary-color: var(--color-second-primary);
$info-color: var(--color-sky-blue);
$success-color: var(--color-green);
$warning-color: var(--color-yellow);
$danger-color: var(--color-red);
// $gradient-primary: var(--gradient-primary);
// $gradient-second-primary: var(--gradient-second-primary);
// $gradient-primary-disable: var(--gradient-primary-disable);
// $gradient-second-primary-disable: var(--gradient-second-primary-disable);
