@import './var.scss';

:root {
    --space-height-1: #{$space-height-1};
    --space-height-2: #{$space-height-2};
    --space-height-3: #{$space-height-3};
    --space-height-4: #{$space-height-4};
}

.jing-space {
    display: flex;
    &-1 {
        height: var(--space-height-1);
    }

    &-2 {
        height: var(--space-height-2);
    }

    &-3 {
        height: var(--space-height-3);
    }

    &-4 {
        height: var(--space-height-4);
    }
}
