@import '../../Style/variable';

// PasswordInput
$password-input-height: 50px;
$password-input-margin: 0 var(--padding-md);
$password-input-font-size: 20px;
$password-input-border-radius: 6px;
$password-input-bg: rgb(242, 246, 249);
$password-input-dot-size: 10px;
$password-input-dot-color: var(--color-black);
