@import './var.scss';

:root {
    --stepline-step-height: #{$stepline-step-height};
    --stepline-step-background: #{$stepline-step-background};
    --stepline-step-position-top: #{$stepline-step-position-top};
    --stepline-header-color: #{$stepline-header-color};
    --stepline-header-font-size: #{$stepline-header-font-size};
    --stepline-header-width: #{$stepline-header-width};
    --stepline-header-height: #{$stepline-header-height};
    --stepline-header-line-height: #{$stepline-header-line-height};
    --stepline-header-background: #{$stepline-header-background};
    --stepline-footer-font-size: #{$stepline-footer-font-size};
    --stepline-footer-color: #{$stepline-footer-color};
    --stepline-footer-margin-top: #{$stepline-footer-margin-top};
}

.jing-stepline {
    overflow: hidden;
    display: flex;
    align-items: center;
    min-height: 1px;
    &--item {
        position: relative;
        min-height: 1px;
        text-align: center;
        &:first-child {
            .jing-stepline--item__step {
                left: 50%;
            }
        }

        &:last-child {
            .jing-stepline--item__step {
                width: 50%;
            }
            .jing-stepline--item__ellipsisstep {
                width: 0;
            }
        }

        &__step {
            width: 100%;
            height: var(--stepline-step-height);
            background: var(--stepline-step-background);
            position: absolute;
            left: 0;
            top: var(--stepline-step-position-top);
        }

        &__ellipsisstep {
            width: 100%;
            // width: calc(100% - 50px);
            display: flex;
            justify-content: center;
            position: absolute;
            left: 50%;
            top: var(--stepline-step-position-top);
            div {
                width: 4px;
                height: 4px;
                border-radius: 50%;
                // margin-right: 1rem;
                background: var(--stepline-step-background);
                &:last-child {
                    margin-right: 0 !important;
                }
            }
        }

        &__header {
            display: inline-block;
            width: var(--stepline-header-width);
            height: var(--stepline-header-height);
            line-height: var(--stepline-header-line-height);
            text-align: center;
            color: var(--stepline-header-color);
            font-size: var(--stepline-header-font-size);
            border-radius: 50%;
            background-color: var(--stepline-header-background);
            position: relative;
            top: 2px;
        }

        &__footer {
            font-size: var(--stepline-footer-font-size);
            color: var(--stepline-footer-color);
            margin-top: var(--stepline-footer-margin-top);
        }
    }
}
