@import '../../Style/variable';

// Result
$result-width: 8rem;
$result-height: 8rem;
$result-margin: 2rem;
$result-paddding: 1rem;
$result-font-size: var(--font-size-md);
$result-text-color: var(--text-color);
$result-title-font-size: var(--font-size-xl);
$result-title-font-weight: var(--font-weight-bold);
$result-title-margin: 1rem;
$result-content-font-size: var(--font-size-md);
$result-content-color: var(--color-black-2);
$result-content-line-height: 1.5em;
$result-content-margin: 1rem;
